input{
    cursor: pointer;
    padding: 8px;
    width: 93%;
}

.inputborder,.inputborder:focus{
    border-bottom: 1px solid black;
    padding: 11px 0px 11px 11px;
}

input, input:focus, textarea:focus, select:focus{
    outline: none;
    border: 0px;
}