.displayBody{
    background-color: white;
    width: 35%;
    border-radius: 1%;
    height: 70%;
    position: relative;
}

@media only screen 
  and (min-device-width: 0px) and (max-device-width: 414px)  {
.displayBody{
        width: 70%;
    }
}

/* For Tablet */
@media only screen 
  and (min-device-width: 415px) and (max-device-width: 800px)  {
    .displayBody{
        width: 70%;
    }
}


.inputDisplay{
 width: 100%;
}


.scrollobject{
    height: 14cm;
    overflow: hidden;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 8px;  
 
}

.ImageDisplay{
    width: 20%;
    display: flex;
    margin-left: 10px;
}

.studentImage{
    border-radius: 50%;
    border: 1px solid #d1d1d1;
}

.contentDisplay{
    width: 100%;
    border-bottom: 1px solid beige;
    display: flex;
    padding: 18px 0px 11px 0px;
}

.displayStudentContent{
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

